name: Manual Build

on: workflow_dispatch

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            asset_name: BMTE-linux-64bit.zip
            separator: ":"

          - os: windows-latest
            asset_name: BMTE-windows-64bit.zip
            separator: ";"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -r requirements.txt
  
      - name: Build with PyInstaller

        run: |
          pyinstaller main.py --noconsole --name BMTE --add-data "Data${{ matrix.separator }}Data"

      - name: Create ZIP archive (Windows)
        if: matrix.os == 'windows-latest'
        
        working-directory: dist
        run: Compress-Archive -Path ./BMTE -DestinationPath ../${{ matrix.asset_name }}
        
      - name: Create ZIP archive (Linux)
        if: matrix.os == 'ubuntu-latest'

        working-directory: dist
        run: zip -r ../${{ matrix.asset_name }} ./BMTE

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.asset_name }}
          path: ./${{ matrix.asset_name }}
